<div class="container">
  <header class="header clearfix">
<!--    <a href="index.html">-->
      <%#= image_tag 'logo.png' %>
    LogoをTwitterのロゴに帰る
    Copyright を変更する

      <img src="/assets/logo.png" class="logo_image">
    </a>
    <nav>
      <ul class="top_menu clearfix">

        <li><a href="index.html">ホーム</a></li>
        <li><a href="business.html">事業内容</a></li>
        <li><a href="#">会社概要</a></li>
        <li><a href="#">お問い合わせ</a></li>
      </ul>
    </nav>
  </header>
  <img src="/assets/business.png" class="image_area">
  <div class="wrapper clearfix">
    <aside class="side_menu">
      <nav>
        <ul>
          <li class="point"><%= link_to '新規投稿', new_post_path %></li>
        </ul>
      </nav>
    </aside>
    <article class="content">
      <h1>ブログ一覧</h1>
      <p><%= notice %></p>
      <table>
        <tr>
          <th>タイトル</th>
          <th>内容</th>
        </tr>
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.content %></td>
            <td><%= link_to '詳細を確認する', post_path(post.id) %></td>
            <td><%= link_to 'ブログを編集する', edit_post_path(post.id) %></td>
            <td><%= link_to "ブログを削除する", post_path(post.id), method: :delete, data: { confirm: '本当に編集していいですか？' } %></td>
          </tr>
        <% end %>
      </table>
      <br>

      <img src="/assets/shakehand.png" class="image_area">
    </article>
  </div>

</div>
